body {
    background-color: #40F8FF;
}
.container {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 6rem;
    color: #279EFF;
    font-family: 'Times New Roman', Times, serif;
}

#player1 {
    font-size: 4rem;
    color: #279EFF;
    font-family: 'Times New Roman', Times, serif;
    width: 40%; 
    display: inline-block;
}

#player2 {
    font-size: 4rem;
    color: #279EFF;
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    display: inline-block;
}

button {
    border-radius: 10px;
    border: 3px solid #0C356A;
    font-family: 'Times New Roman', Times, serif;
    background-color:#279EFF; 
    color: #0C356A;
    font-size: 3rem;
}

@media (max-width: 768px) {
    #player1 {
        display: block;
    }
    #player2 {
        display: block;
    }
}